.wpforms-container {
  input,
  textarea {
    @apply px-4 py-3;
    border: none;
    outline: none;
    box-shadow: none;
  }

  input:focus,
  input:focus-visible,
  textarea:focus {
    @apply bg-gray-900 text-white;
  }
  
  
}

