.archive {

    .meta {
        font-size: 0.9rem;
    }

    .descripcion {
        background-color: white;

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

        .caja {
            border: 4px solid #000;
            position: relative;
            top: -8px;
            left: -8px;
        }
    }
    @media (min-width: 500px) {
        a[role='article'] {
            .thumb {
                max-width: 50vw;
            }
        }
    }

    @media (min-width: 768px) {
        a[role='article']  {
            .thumb {
                max-width: 30vw;
            }
        }
    }

    @media (min-width: 1024px) {
        .meta {
            font-size: 0.8rem;
        }

        a[role='article']  {
            .thumb {
                max-width: 15vw;
            }
        }
    }
    
}