.archive {
    @media (min-width: 500px) {
        article {
            .thumb {
                max-width: 50vw;
            }
        }
    }

    @media (min-width: 768px) {
        article {
            .thumb {
                max-width: 30vw;
            }
        }
    }

    @media (min-width: 1024px) {
        article {
            .thumb {
                max-width: 15vw;
            }
        }
    }
    
}