footer {
    .logo-ucm,
    .logo-bellasartes {
        max-width: 200px;
    }
    .texto {
        font-size: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }

    .buscar {
        label {
            display: block;
            width: 100%;

            input[type="search"] {
                width: 100%;
                padding: 1rem;
            }
        }

        input[type="submit"] {
            display: none;
        }

    }

    @media (min-width: 768px) {
        .buscar {
            width: 250px;
            flex-shrink: 0;
        }

        .bloque {
            width: 50%;

            .logos {
                width: 20vw;
            }
            .texto {
                max-width: 400px;
            }
        }




    }

    @media (min-width: 1024px) {
        .logo-ucm,
        .logo-bellasartes {

        }
    }

    @media (min-width: 1280px) {
        .logo-ucm,
        .logo-bellasartes {

        }
    }
}