.home {

  article {
    .meta {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      // display: none;
    }
  }

  .abajo {
    &.txt {
      line-height: 1.2em;
      hyphens: auto;
    }
  }

  .arriba {
    line-height: 1.2em;
    hyphens: auto;
  }

  @media (min-width: 786px) {
    --bloque: calc(100% / 4);

    article {
      width: calc(var(--bloque) * 4);
      height: calc(var(--bloque) * 2);

      .arriba {
        width: 57.8%;
      }

      .abajo {
        flex: none;
      }

    }
  }

  @media (min-width: 1024px) {
    --bloque: calc((100vw - var(--scrollbar-width)) / 6);

    article {
      a {
        .meta {
          opacity: 0;
          transition: opacity, 0.5s;
        }

        &:hover {
          .meta {
            opacity: 1;
          }
        }
      }

      .arriba {
        max-width: none;
      }

      &.horizontal {
        a {          
          .arriba {
            header {
            }
          }
          .abajo {
          }
        }
      }

      &.vertical {
        a {
          flex-direction: column;

          .arriba {
            width: 100%;

            h2 {
              max-height: calc(var(--bloque) - 2rem);
            }

            header {
              width: 100%;
            }
          }
          .abajo {
            width: 100%;
          }
        }
      }

      &.cuadrado {
        a {
          .arriba {
            position: absolute;
            max-width: none;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity, 0.5s;
  
            header {
              hyphens: auto;
              height: 100%;
      
              h2 {
                margin-top: 0.5em;
                margin-bottom: 0;
              }
            }
          }
  
          .abajo {
            width: 100%;
          }

          .meta {
            display: none;
          }

          &:hover {
            .arriba {
              z-index: 40;
              opacity: 1;
            }
            .abajo {
              z-index: 30;
            }
          }
        }
      }      

      &.grande {
        &.horizontal {
          width: calc(var(--bloque) * 4);
          height: calc(var(--bloque) * 2);

          a {
            width: calc(var(--bloque) * 4 - 2rem);
            height: 100%;

            .arriba {
              width: calc(var(--bloque) * 2);
            }


            .abajo {
              width: auto;

              img {
                max-width: calc(var(--bloque) * 2 - 2rem);
              }

              &.txt {
                width: calc(var(--bloque) * 2 - 2rem);
              }
            }
          }
        }

        &.vertical {
          width: calc(var(--bloque) * 2);
          height: calc(var(--bloque) * 4);

          a {
            .arriba {
              width: 100%;
              height: calc(var(--bloque) * 2);
            }

            .abajo {
              &.txt {
                height: calc(var(--bloque) * 2 - 2rem);
              }
            } 
          }
        }

        &.cuadrado {
          width: calc(var(--bloque) * 2);
          height: calc(var(--bloque) * 2);
          .tipo {
            font-size: 0.8vw;
          }
        }
      }

      &.pequeño {
        h2 {
          font-size: 0.8rem;
          line-height: 1.2em;
          margin-bottom: 0;
          margin-top: 0.5em;
        }

        .tipo {
          font-size: 0.7vw;
          line-height: 1em;
        }

        .txt {
          font-size: 0.8rem;
          @apply text-gray-400;
        }

        .meta {
          font-size: 0.6rem;
        }

        &.horizontal {
          width: calc(var(--bloque) * 2);
          height: calc(var(--bloque) * 1);

          a {
            width: calc(var(--bloque) * 2 - 2rem);

            .abajo {
              img {
                max-width: calc(var(--bloque) - 2rem);
              }
            }
          }
        }

        &.vertical {
          width: calc(var(--bloque) * 1);
          height: calc(var(--bloque) * 2);

          a {
            .arriba {
              height: calc(var(--bloque));
            }

            .abajo {
              &.txt {
                height: calc(var(--bloque) - 2rem);
              }
            } 
          }
        }

        &.cuadrado {
          width: calc(var(--bloque) * 1);
          height: calc(var(--bloque) * 1);

          a {
            .abajo {
              &.txt {
                font-size: 0.8rem;
                line-height: 1.2em;
                hyphens: auto;
                height: calc(var(--bloque) - 2rem);
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

  }

  @media (min-width: 1280px) {
    --bloque: calc((100vw - var(--scrollbar-width)) / 7);
  }

  @media (min-width: 1536px) {
    --bloque: calc((100vw - var(--scrollbar-width)) / 8);
  }

  @media (min-width: 1792px) {
    --bloque: calc((100vw - var(--scrollbar-width)) / 9);
  }
}

