.home {

  article {
    background-color: cyan;

    .interior {
      background-color: darkcyan;
    }

    .entry-meta {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
    }
  }

  @media (min-width: 786px) {
    --bloque: calc(100% / 4);

    article {
      width: calc(var(--bloque) * 4);
      height: calc(var(--bloque) * 2);

      .arriba {
        background-color: darkgreen;
        max-width: 57.8%;
      }

      .abajo {
        background-color: darkslateblue;
        width: 42.2%;
      }

    }
  }

  @media (min-width: 1024px) {
    --bloque: calc(100% / 6);

    article {
      &.horizontal {

      }

      &.vertical {

      }

      &.cuadrado {
        a {
          .arriba {
            position: absolute;
            max-width: none;
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);
            opacity: 0;
            transition: opacity, 0.5s;
  
            header {
              height: 100%;
  
              .tipo {
                font-size: 0.8vw;
                line-height: 1em;
              }
      
              h2 {
                font-size: 1.3vw;
                line-height: 1.2em;
                margin-top: 0.5em;
                margin-bottom: 0;
              }
            }
          }
  
          .abajo {
            width: 100%;
          }

          &:hover {
            .arriba {
              opacity: 1;
            }
          }
        }
      }
      
      
      &.grande {
        &.horizontal {
          width: calc(var(--bloque) * 4);
          height: calc(var(--bloque) * 2);
        }

        &.vertical {
          width: calc(var(--bloque) * 2);
          height: calc(var(--bloque) * 4);
        }

        &.cuadrado {
          width: calc(var(--bloque) * 2);
          height: calc(var(--bloque) * 2);
        }
      }

      &.pequeño {
        &.horizontal {
          width: calc(var(--bloque) * 2);
          height: calc(var(--bloque) * 1);
        }

        &.vertical {
          width: calc(var(--bloque) * 1);
          height: calc(var(--bloque) * 2);
        }

        &.cuadrado {
          width: calc(var(--bloque) * 1);
          height: calc(var(--bloque) * 1);
        }
      }
    }

  }

  @media (min-width: 15280px) {
    --bloque: calc(100% / 8);
  }

  @media (min-width: 1536px) {
    --bloque: calc(100% / 10);
  }

  @media (min-width: 1792px) {
    --bloque: calc(100% / 12);
  }
}

