.banner {
  .solapa {
    width: 100%;
    height: 100vh;
    max-width: 500px;
    left: -100%;

    .my-menu-item {
      &.cerrado {
        .my-child-menu {
          // height: 0;
        }
      }
    }
  }

  #hamb {
    width: 40px;
    height: 30px;
    
    b { 
      height: 3px;
    }
  }

}
