.single {

  #map {
    height: 200px;
  }
 
  .extracto {
    columns: 200px 3;
    column-gap: 1rem;
  }
  
  .meta {
    font-size: 0.8rem;

    >.wrap {
      border-top: 1px solid black;
      padding-top: 1rem;


      #bloque-1 {
        .rol {
          @apply text-gray-400;
        }
      }

      .documentos-asociados {
        ul {
          li {
            border-bottom: 1px dotted black;

            .icono {
              width: 50px;
              font-size: 2.5rem;
            }

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .meta {

      >.wrap {
          padding: 0;

        #bloque-1 {
          width: 22%;
          padding: 0;
          border-right: 1px solid black;

          .fechas {
              padding: 1rem;
              border-bottom: 1px solid #000;
          }

          .personas {
              padding: 1rem;
          }
        }

        #bloque-2,
        #bloque-4 {
          width: 20%;
          padding: 1rem;
          border-right: 1px solid #000;
        }

        #bloque-3 {
            padding: 1rem;
        }
      }
    }
  }
}
