.single {
    .meta {
        font-size: 0.8rem;

        .documentos-asociados {
            ul {
                li {
                    border-bottom: 1px solid black;
    
                    .icono {
                        width: 50px;
                        font-size: 2.5rem;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }

}