body {
  @apply font-sans bg-fondo;
}

html {
  font-size: 1rem;



  @media (min-width: 786px) {
    font-size: calc(0.5vw + 0.7rem);
  }
}


a {
  @apply text-blue;
  transition: color 0.5s, background-color 0.5s;
  text-decoration: none;

  &:not(.normal) {
    &:hover {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


  &:hover {
    color: #90ac4f;
  }
}

#main {
  padding-top: 12rem;
}