body {
  @apply font-sans bg-fondo;
}

html {
  font-size: 1rem;



  @media (min-width: 786px) {
    font-size: calc(0.5vw + 0.7rem);
  }
}


a {
  @apply text-blue;
  transition: color 0.5s, background-color 0.5s;
  text-decoration: none;

  &:not(.normal):not(.leaflet-control-fullscreen-button):not(.ab-item) {
    &:hover {
      @media (min-width: 1024px) {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }


  &:hover {
    color: #002752;
  }
}

.banner {
  transition: background-color 0.5s;
}

#main {
  @media (min-width: 1024px) {
    body.author &,
    body.archive &,
    body.page &,
    body.home & {
      padding-top: 12rem;
    }

    .single & {
      article:not(.has-post-thumbnail) {
        margin-top: 12rem;
      }
    }
  }
}

// override tailwind tipography (prose) en galerías

.prose .wp-block-gallery { 
  margin-top: 0;

  li {
    padding-left: 0;
    font-size: inherit;
    line-height: inherit;

    &:before {
      content: none;
    }
  }

}

.descripcion .caja {
  columns: 200px 3;
  column-gap: 1rem;
}


// leaflet fullscreen hack
.leaflet-control-fullscreen a {
  background:#fff url(../images/fullscreen.png) no-repeat 0 0;
}