body {
  @apply font-sans bg-fondo;
}

html {
  font-size: 1rem;



  @media (min-width: 786px) {
    font-size: calc(0.5vw + 0.7rem);
  }
}


a {
  @apply text-blue;
  transition: color 0.5s, background-color 0.5s;
  text-decoration: none;

  &:not(.normal) {
    &:hover {
      @media (min-width: 1024px) {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }


  &:hover {
    color: #002752;
  }
}

#main {
  @media (min-width: 1024px) {
    padding-top: 12rem;
  }
}

// override tailwind tipography (prose) en galerías

.prose .wp-block-gallery { 
  margin-top: 0;

  li {
    padding-left: 0;
    font-size: inherit;
    line-height: inherit;

    &:before {
      content: none;
    }
  }

}